#second-screen {
  position: absolute;
  margin-top: 51px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#second-screen .parent {
  height: 100%;
  display: flex;
  flex-direction: row;
}
#second-screen .parent .side {
  flex: 0;
}
#second-screen .parent .side .side-bar-list {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: auto;
}
#second-screen .parent .side .side-bar-list .list-group-item {
  width: 30vw;
}
#second-screen .parent .side .side-bar-list .list-group-item:first-child {
  border-top: 0px;
  border-radius: 0px !important;
}
#second-screen .parent .side .side-bar-list .list-group-item:hover {
  background-color: #F8F8FF;
  cursor: pointer;
}
#second-screen .parent .main {
  flex: 1;
  padding: 20px;
}
